# See `man ssh_config` for details and examples.

# The first matching config will be used. Options specified right
# up top will override the same options set in subsequent configs.

# Per-host options. Use "Host" or "Match" to describe each host.

# Apply these options to ephemeral hosts:
Host ec2-*.amazonaws.com
  User ec2-user
  Port 22
  IdentityFile ~/.ssh/ec2-instance-key
  UserKnownHostsFile /dev/null

# Add defaults below:
Match all

  # Include custom options:
  Include ~/.ssh/ssh_config.home.winans.net

  # Set these, if they haven't already been set:
  IdentityFile ~/.ssh/id_ed25519
  AddKeysToAgent ask
  StrictHostKeyChecking ask
  VerifyHostKeyDNS ask
  ConnectTimeout 30
