[Desktop Entry]
Type=Application
Exec=/home/roger/.dropbox-dist/dropboxd
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Dropbox
Name=Dropbox
Comment[en_US]=
Comment=
